@charset "utf-8";
 
body {
    /*background-color: #f5f5f5; */
    background: url('fundo.jpg') center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex; 
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
 }
/*h1 {
    text-align: center;
    background-color: #c9a019; 
    color: #e6e6fa; 
    font-family: 'Times New Roman', Times, serif, "Times New Roman", serif; 
    width:300px;
	height:100px;
    border-radius: 100px;
    float: right; // ALINHAMENTO
    }
*/
h1 {
    font-size: 40px;
    font-family: 'Jazz LET, fantasy';
    color: #ffa600;
    text-shadow: 2px 2px rgba(82, 81, 81, 0.507);
 }
 .container { 
    display: flex; 
    /*flex-direction: column;*/
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
  }
#missao {
    
    font-family: 'Bradley Hand, cursive';
    text-align: center;
    border: 5px solid #ffa600;
    width:500px;
	height:300px;
    border-radius: 100px;
    order: 1;
    
  }
#visao {
    
    font-family: 'Bradley Hand, cursive';
    text-align: center;
    border: 5px solid #ffa600;
    width:500px;
	height:300px;
    border-radius: 100px;
    order: 2;
    
  }
#valores {
    
    border: 5px solid #ff4a02;
    width:500px;
	height:300px;
    border-radius: 100px;
    order: 3;
    
  }
#solucao{
    text-align: center;
    color: black;
    font-size: 15px
}
  .contato{
      text-align: center;
  }
footer {
    font-family: 'Courier New', Courier, monospace;
}
