@charset "utf-8";
 
body {
    background-color: #f5f5f5; 
    color: #191970; 
    font-family: Arial, Verdana, sans-serif;
}
header {
    text-align: center;
}
/*h1 {
    text-align: center;
    background-color: #c9a019; 
    color: #e6e6fa; 
    font-family: 'Times New Roman', Times, serif, "Times New Roman", serif; 
    width:300px;
	height:100px;
    border-radius: 100px;
    float: right; // ALINHAMENTO
    }
*/
h1 {
    font-size: 40px;
    font-family: 'Jazz LET, fantasy';
    color: #ffa600;
    text-shadow: 3px 3px rgba(82, 81, 81, 0.507);
}

#missao {
    
    font-family: 'Bradley Hand, cursive';
    text-align: center;
    border: 5px solid #ffa600;
    width:450px;
	height:300px;
    border-radius: 100px;
    
  }
footer {
    font-family: 'Courier New', Courier, monospace;
}
